
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h2>Index</h2>
    
    <a asp-controller="Home" asp-action="Groenten">Home</a>

    <a asp-controller="Home" asp-action="Student">Student</a>

</body>
</html>
